/* ---------- Navbar ---------- */

.navbar-page {
  width: 100%;
  position: fixed;
  top: 0;
  height: 70px;
  transition: 0.3s ease-in-out;
  z-index: 98 !important;
}
.navbar-inner-wrapper {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-logo img {
  width: 60px;
}
.navbar-menu-wrapper {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.nav-menu-all {
  display: flex;
  gap: 3rem;
}
.nav-menu-all li,
.nav-menu-all li a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.nav-menu-all li > div:hover,
.nav-menu-all li a:hover {
  color: #fdae1e;
}
.navbar-menu-sub-items {
  width: 150px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 !important;
  margin-top: 1.5rem !important;
  line-height: 2rem;
  height: 0;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
.navbar-menu-sub-items li a {
  color: #222;
}
.nav-menu-all li div {
  transition: 0.3s ease-in-out;
}
.navbar-menu-list {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px;
  cursor: pointer;
}
.navbar-menu-list div {
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 100px;
  transition: 0.3s ease-in-out;
}
.navbar-menu-list:hover div {
  background: #fdae1e;
}
.navbar-menu-social a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.navbar-menu-social a i {
  color: #fff;
  font-size: 24px;
  transition: 0.3s ease-in-out;
}
.navbar-menu-social a i:hover {
  color: #fdae1e;
}
.icon-close-sidebar {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 1.6rem;
  right: 1rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}
.icon-close-sidebar .line1 {
  width: 22px;
  height: 1px;
  background: #fff;
  transform: rotate(45deg);
  transition: 0.3s ease-in-out;
}
.icon-close-sidebar .line2 {
  width: 22px;
  height: 1px;
  background: #fff;
  transform: rotate(90deg);
  transition: 0.3s ease-in-out;
}
.icon-close-sidebar:hover .line1 {
  background: #fdae1e;
}
.icon-close-sidebar:hover .line2 {
  background: #fdae1e;
}
.navbar-menu-item-about-m {
  display: none;
}
@media screen and (max-width: 768px) {
  .navbar-menu-list {
    display: grid;
  }
  .navbar-menu-social {
    display: none;
  }
  .nav-menu-all {
    position: fixed;
    top: 0;
    left: 800px;
    background-color: rgba(0, 0, 0, 0.88);
    padding: 4rem 2rem !important;
    width: 300px;
    flex-direction: column;
    gap: 1.6rem;
    transition: 0.8s ease-in-out;
    z-index: 99 !important;
  }
  .navbar-menu-sub-items {
    position: relative;
    margin-top: 0 !important;
    background: none;
  }
  .navbar-menu-sub-items li a {
    color: #fff;
  }
  .navbar-menu-item-about-m {
    display: block;
  }
  .navbar-menu-item-about-d {
    display: none;
  }
}

/* ---------- Navbar ---------- */

/* ---------- Banner ---------- */

.carousel {
  position: static !important;
}
.carousel-indicators {
  right: auto !important;
  opacity: 1 !important;
  bottom: 2rem !important;
  z-index: 9 !important;
}
.carousel-indicators [data-bs-target] {
  opacity: 1 !important;
  height: 4px !important;
}
.carousel-indicators .active {
  background-color: #fdae1e !important;
}

.banner-img-1,
.banner-img-2,
.banner-img-3,
.banner-img-4,
.banner-img-5,
.banner-img-6 {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-img-1 {
  background-image: url('../asset/home/banner/banner1.png');
}
.banner-img-2 {
  background-image: url('../asset/home/banner/banner2.jpg');
}
.banner-img-3 {
  background-image: url('../asset/home/banner/banner3.jpg');
}
.banner-img-4 {
  background-image: url('../asset/home/banner/banner4.png');
}
.banner-img-5 {
  background-image: url('../asset/home/banner/banner5.jpg');
}
.banner-img-6 {
  background-image: url('../asset/home/banner/banner6.jpg');
  background-position: 50% 100% !important;
}
.banner-text-name {
  position: absolute;
  bottom: 8%;
  right: 15%;
  font-size: 66px;
  color: #fff;
  font-weight: 600;
  opacity: 0.9;
}
.banner-text-sub {
  position: absolute;
  bottom: 4%;
  right: 15%;
  font-size: 20px;
  color: #fff;
  opacity: 0.9;
}
@media screen and (max-width: 1500px) {
  .banner-text-name {
    right: 8%;
    bottom: 12%;
  }
  .banner-text-sub {
    right: 8%;
    bottom: 8%;
  }
}
@media screen and (max-width: 1180px) {
  .banner-text-name {
    right: 5%;
  }
  .banner-text-sub {
    right: 5%;
  }
}
@media screen and (max-width: 768px) {
  .carousel-indicators {
    right: 0 !important;
  }
  .banner-text-name {
    bottom: 20%;
    right: 50%;
    transform: translateX(50%);
    font-size: 66px;
  }
  .banner-text-sub {
    text-align: center;
    width: 88%;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
  }
}
@media screen and (max-width: 550px) {
  .banner-text-name {
    font-size: 54px;
  }
  .banner-text-sub {
    font-size: 18px;
    width: 95%;
  }
}
@media screen and (max-width: 440px) {
  .banner-text-name {
    font-size: 44px;
  }
}

/* ---------- Banner ---------- */

/* ---------- About ---------- */

.about-page {
  width: 100%;
  background: #363636;
  padding: 5rem 0;
}
.about-inner-wrapper {
  text-align: center;
}
.about-topic {
  color: #fdae1e;
  font-size: clamp(22pt, 2.5vw, 34pt);
  font-weight: 100;
}
.about-topic b {
  font-size: clamp(22pt, 2.5vw, 34pt);
  font-weight: 600;
}
.about-items-wrapper {
  margin-top: 8rem;
  margin-bottom: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  /* position: relative; */
}
.about-image-wrapper {
  position: relative;
  left: 50%;
  top: 0;
  transition: 0.4s ease-in-out;
}
.about-image-wrapper img {
  display: block;
  width: 100%;
}
.about-info-wrapper {
  position: relative;
  right: 50%;
  height: 125%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  background: #333;
  padding: 0 5rem;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
  transition: 0.4s ease-in-out;
}
.about-info-wrapper p {
  color: #fff;
  text-align: left;
}
.about-info-button {
  text-align: left;
}
.about-info-button button {
  color: #fdae1e;
  border: 1px solid #fdae1e;
  background: none;
  padding: 8px 1.8rem;
  transition: 0.2s ease-in-out;
}
.about-info-button button:hover {
  background: #fdae1e;
  color: #fff;
}

@media screen and (max-width: 992px) {
  .about-items-wrapper {
    grid-template-columns: 1fr;
  }
  .about-info-wrapper {
    width: 90%;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .about-page {
    padding: 2rem 0;
  }
  .about-page > .container {
    max-width: 100% !important;
    padding: 0 !important;
  }
  .about-items-wrapper {
    grid-template-columns: 1fr;
  }
  .about-topic b {
    display: block;
  }
  .about-items-wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .about-image-wrapper {
    left: 0;
    z-index: 5;
  }
  .about-info-wrapper {
    bottom: 100%;
    padding: 0 1rem;
    right: 0;
    height: 0;
    overflow: hidden;
    z-index: 4;
  }
}

/* ---------- About ---------- */

/* ---------- Overview ---------- */

.overview-page {
  width: 100%;
  height: 340px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../asset/home/bg-overview.jpg');
  background-position: 50% 70%;
  background-repeat: no-repeat;
  background-size: cover;
}

.overview-inner-wrapper {
  width: 100%;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.overview-item {
  display: grid;
  justify-items: center;
  row-gap: 1rem;
}
.overview-item-title {
  font-size: 18px;
  color: #fff;
}
#YearOfExperienceNumber,
#OurProjectsNumber,
#TotalAwardsNumber {
  font-size: 34pt;
  font-weight: 600;
  color: #fdae1e;
}
@media screen and (max-width: 768px) {
  .overview-page {
    height: 540px;
    background-position: 50% 100% !important;
  }
  .overview-inner-wrapper {
    height: 540px;
    flex-direction: column;
    gap: 3rem;
  }
}

/* ---------- Overview ---------- */

/* ---------- Work ---------- */

.work-page {
  width: 100%;
  background: #333;
  padding: 4rem 0 6rem 0;
  background-image: url('../asset/home/bg-line.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.work-inner-wrapper {
  text-align: center;
}
.work-topic {
  color: #fdae1e;
  font-size: clamp(22pt, 2.5vw, 34pt);
  font-weight: 100;
}
.work-topic b {
  font-size: clamp(22pt, 2.5vw, 34pt);
  font-weight: 600;
}
.work-items-wrapper {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
  position: relative;
}
.work-bg-text {
  position: absolute;
  top: 50%;
  left: -260px;
  transform: translateY(-50%) rotate(270deg);
  font-size: 200px;
  font-weight: 700;
  color: #444;
}
.work-item {
  position: relative;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.work-more-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
  z-index: -1;
}
.work-item:hover .work-more-overlay {
  opacity: 1;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.3s ease-in-out;
}
.work-item:hover .work-more-overlay span {
  transition: 0.3s ease-in-out;
  opacity: 1;
  width: 90px;
  height: 90px;
  border-radius: 100px;
  border: 6px solid #fdae1e;
  color: #fff;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-item img {
  width: 100%;
}
.work-item-title {
  position: absolute;
  bottom: 1.6rem;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  white-space: nowrap;
  font-size: 18px;
}
@media screen and (max-width: 1400px) {
  .work-bg-text {
    left: -340px;
  }
}
@media screen and (max-width: 1200px) {
  .work-bg-text {
    left: -290px;
    font-size: 140px;
  }
}
@media screen and (max-width: 1000px) {
  .work-items-wrapper {
    grid-template-columns: 180px 180px 180px;
  }
  .work-bg-text {
    left: -180px;
  }
}
@media screen and (max-width: 991px) {
  .work-bg-text {
    left: -300px;
    font-size: 140px;
  }
}
@media screen and (max-width: 768px) {
  .work-page {
    padding: 2.5rem 0 4rem 0;
  }
  .work-page > .container {
    width: 100%;
    padding: 0 0 0 1.4rem;
  }
  .work-items-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 1.4rem;
    flex-wrap: nowrap;
    overflow-x: auto;
    text-align: left;
  }
  .work-item {
    width: 320px;
  }
  .work-item img {
    width: 320px;
  }
  .work-bg-text {
    display: none;
  }
  .work-inner-wrapper {
    text-align: left;
  }
}

/* ---------- Work ---------- */

/* ---------- Service ---------- */

.service-page {
  width: 100%;
  height: 520px;

  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../asset/home/bg-service.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.service-inner-wrapper {
  padding: 4rem 0;
  width: 100%;
  height: 520px;
  text-align: center;
}
.service-topic {
  color: #fdae1e;
  font-size: clamp(22pt, 2.5vw, 34pt);
  font-weight: 100;
}
.service-topic b {
  font-size: clamp(22pt, 2.5vw, 34pt);
  font-weight: 600;
}
.service-inner-wrapper p {
  width: 540px;
  margin: 1.6rem auto 3rem auto;
  color: #fff;
  text-transform: uppercase;
}
.service-items-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.service-item button {
  color: #fff;
  border: 1px solid #fff;
  background: none;
  padding: 4px 1.4rem;
  transition: 0.2s ease-in-out;
  white-space: nowrap;
}
.service-item button:hover {
  border: 1px solid #fdae1e;
  color: #fdae1e;
}

@media screen and (max-width: 1400px) {
  .service-items-wrapper {
    width: 94%;
  }
}
@media screen and (max-width: 995px) {
  .service-page {
    height: 660px;
  }
  .service-inner-wrapper {
    height: 660px;
  }
}
@media screen and (max-width: 768px) {
  .service-page {
    height: 900px;
  }
  .service-inner-wrapper {
    height: 900px;
    padding: 2.5rem 0;
  }
  .service-items-wrapper {
    flex-direction: column;
  }
  .service-inner-wrapper p {
    width: 94%;
    margin: 1.6rem auto 3rem auto;
  }
}
@media screen and (max-width: 550px) {
  .service-item button {
    font-size: 14px;
    padding: 4px 1rem;
  }
}

/* ---------- Service ---------- */

/* ---------- Contact ---------- */

.contact-page {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url('../asset/home/bg-contact.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.contact-inner-wrapper {
  padding: 4rem 0;
}
.contact-findus-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.findus-topic {
  color: #fdae1e;
  font-size: clamp(22pt, 2.5vw, 34pt);
  font-weight: 100;
}
.findus-topic b {
  font-size: clamp(22pt, 2.5vw, 34pt);
  font-weight: 600;
}
.contact-findus-info h2 {
  color: #fdae1e;
  font-weight: 500;
  margin-bottom: 1.4rem;
  margin-top: 2rem;
  font-size: 20px;
}
.contact-form-topic {
  color: #fdae1e;
  font-size: clamp(22pt, 2.5vw, 34pt);
  font-weight: 100;
}
.contact-form-topic b {
  font-size: clamp(22pt, 2.5vw, 34pt);
  font-weight: 600;
}
.findus-address {
  color: #fff;
}
.findus-contact-info-wrapper {
  font-size: 16px;
  color: #fff;
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  gap: 1.2rem;
  margin: 1rem 0;
}
.findus-contact-info-wrapper i {
  color: #fdae1e;
  font-size: 22px;
}
.findus-contact-text-wrapper {
  display: flex;
  flex-direction: column;
}
.contact-findus-info button {
  color: #fdae1e;
  border: 1px solid #fdae1e;
  background: none;
  padding: 4px 1.4rem;
  transition: 0.2s ease-in-out;
  white-space: nowrap;
  margin-top: 1.6rem;
}
.contact-findus-info button:hover {
  border: 1px solid #fdae1e;
  background: #fdae1e;
  color: #fff;
}

.contact-form-wrapper {
  margin-top: 4rem;
  text-align: center;
}
.contact-form-wrapper p {
  color: #fff;
  margin: 1rem 0 3rem 0;
  text-transform: uppercase;
}
.contact-form-items-wrapper {
  width: 500px;
  margin: 0 auto;
}
.contact-form-item {
  display: flex;
  column-gap: 10px;
  margin-bottom: 1rem;
}
.contact-form-item input,
.contact-form-item textarea {
  width: 100%;
  padding: 6px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: none;
  color: rgba(255, 255, 255, 0.95);
  outline: none;
}
.contact-form-item input::placeholder,
.contact-form-item textarea::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.contact-form-items-wrapper button {
  color: #fdae1e;
  border: 1px solid #fdae1e;
  background: none;
  padding: 4px 1.4rem;
  transition: 0.2s ease-in-out;
  white-space: nowrap;
  margin-top: 8px;
}
.contact-form-items-wrapper button:hover {
  border: 1px solid #fdae1e;
  background: #fdae1e;
  color: #fff;
}
.google-map-address {
  filter: grayscale(10%) invert(90%) contrast(88%);
}

@media screen and (max-width: 1200px) {
  .contact-findus-wrapper {
    flex-direction: column;
    gap: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .contact-inner-wrapper {
    padding: 2.5rem 0;
  }
  .contact-findus-map iframe {
    max-width: 100% !important;
  }
  .contact-form-items-wrapper {
    width: 100%;
  }
  .contact-form-item {
    flex-direction: column;
    gap: 1rem;
  }
}

/* ---------- Contact ---------- */
