.awards-detail {
  background: #333;
  padding: 10rem 0 8rem 0;
  position: relative;
}
.awards-detail-change {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}
.awards-detail-change li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.awards-detail-info-wrapper {
  padding: 5rem 0 0 0;
}
.awards-detail-all-wrapper {
  display: flex;
  padding-top: 3rem;
}
.awards-detail-info-wrapper h4 {
  text-align: center;
  color: #fdae1e;
  font-weight: 100;
  font-size: clamp(20pt, 2.5vw, 24pt);
}
.awads-detail-description {
  line-height: 2rem;
}
.description-item {
  width: 65%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 2rem;
  /* align-items: center; */
  color: #fff;
}
.description-item h5 {
  color: #fdae1e;
  font-size: 14px;
  margin-top: 8px;
}
.description-item p {
  font-size: 14px;
}
.awards-detail-share-wrapper li {
  line-height: 3rem;
}
.awards-detail-share-wrapper li a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}
.awards-detail-share-wrapper li a:hover {
  color: #fdae1e;
}
.awards-detail-share-wrapper li a:hover i {
  background: #fdae1e;
}
.awards-detail-share-wrapper li a i {
  color: #333;
  background: #fff;
  width: 24px;
  height: 24px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.container {
  position: relative;
}
.awards-bg {
  position: absolute;
  font-size: 10rem;
  color: #fff;
  right: 0;
  transform: rotate(-90deg) translateY(-50%);
  top: 50%;
}

.bg-line {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 0;
}
.bg-line img {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .awards-detail-all-wrapper {
    flex-direction: column;
  }
  .awards-detail-share-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .description-item {
    width: 82%;
  }
}
@media screen and (max-width: 768px) {
  .description-item {
    width: 98%;
    grid-template-columns: 140px 1fr;
    gap: 1rem;
  }
}
