.our-awards {
  text-align: center;
  padding: 10rem 0 8rem 0;
  background: #333;
}
.award-topic b {
  font-size: clamp(22pt, 2.5vw, 34pt);
  font-weight: 600;
}
.award-topic {
  color: #fdae1e;
  font-size: clamp(22pt, 2.5vw, 34pt);
  font-weight: 100;
}

.container-images {
  column-count: 3;
  column-gap: 10px;
  padding: 0 8rem;
}
.image-item {
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
  position: relative;
  overflow: hidden;
}
.image-item img {
  max-width: 100%;
  display: block;
  transition: 0.4s;
}
.image-item img:hover {
  transform: scale(1.1);
  filter: brightness(70%);
}
.image-item > img {
  grid-row: 1 / -1;
  grid-column: 1;
}
.image-item span {
  position: absolute;
  color: #fff;
  text-align: left !important;
  bottom: 1rem;
  left: 1rem;
  font-size: 20px;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .our-awards {
    padding: 8rem 0 4rem 0;
  }
  .container-images {
    column-count: 2;
    padding: 0;
  }
  .image-item span {
    width: 95%;
    bottom: 5px;
    left: 6px;
    font-size: 13px;
    font-weight: 500;
  }
}

.category-button-wrapper {
  margin: 6rem auto;
  display: grid;
  grid-template-columns: 260px 260px 260px;
  justify-items: center;
  justify-content: center;
  gap: 1rem;
}
.category-button-wrapper button {
  width: 260px;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 0.9rem 0;
  transition: all 0.3s ease-in-out;
  outline: none;
}
.category-button-wrapper button:hover {
  border: 1px solid #fdae1e;
  color: #fdae1e;
}
@media screen and (max-width: 1024px) {
  .category-button-wrapper {
    grid-template-columns: 200px 200px 200px;
  }
  .category-button-wrapper button {
    width: 200px;
    padding: 0.6rem 0;
  }
}
@media screen and (max-width: 768px) {
  .category-button-wrapper {
    grid-template-columns: 200px 200px;
  }
  .category-button-wrapper {
    margin: 3rem auto;
  }
}
@media screen and (max-width: 460px) {
  .category-button-wrapper {
    grid-template-columns: 160px 160px;
  }
  .category-button-wrapper button {
    width: 160px;
    padding: 0.5rem 0;
    font-size: 14px;
  }
}
